.slider-review {
	padding: 10px 50px;
	padding-bottom: 80px;
	
	.bxslider_reviews {
		height: 225px;
		overflow: hidden;
	}
	
	&__item {
		height: 225px;
		overflow: hidden;
	}
	
	&__item-info {
		line-height: 22px;
		text-align: center;
	}
	
	&__item-pic {
		background: #fff;
		width: 160px;
		height: 160px;
		.border-radius(80px);
		display: inline-block;
		font-size: 0;
		margin-bottom: 10px;
		overflow: hidden;
		
		& img {
			width: 160px;
		}
		
		& object {
			width: 92px;
			height: 160px;
		}
	}
	
	&__item-name {
		white-space: nowrap;
	}
	
	&__item-date {
		white-space: nowrap;
	}
	
	&__item-text {
		font-style: italic;
		line-height: 22px;
	}
}