body {
	margin: 0;
}
.interesting {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.interesting-list {
	width: 65%;
	margin-right: 5%;
}
.interesting-item {
	margin-bottom: 30px;
}
.interesting-item__header {
	font-family: 'Scada';
	font-size: 24px;
	line-height: 30px;
}
.interesting-item__header:hover {
	color: #fd7866;
}
.interesting .interesting-item__labels {
	margin: 0;
}
.interesting-labels {
	position: relative;
	width: 30%;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #dce1e6;
}
.interesting .interesting-labels__header {
	margin-top: 0;
	font-family: 'Scada';
	font-size: 24px;
	line-height: 30px;
}

@media only screen and (max-width: 767px) { 
	.interesting {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.interesting-list {
		margin-right: 0;
		order: 1;
		width: 100%;
	}
	.interesting-labels {
		margin-bottom: 20px;
		width: 100%;
	}
}

.interesting-detailed {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.interesting-detailed__content {
	width: 60%;
	margin-right: auto;
}
.interesting-detailed__links {
	width: 35%;
}