html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
textarea,
select,
img,
a,
button {
  outline: none;
  margin: 0;
  padding: 0;
}
header,
nav,
section,
article,
aside,
footer {
  display: block;
}
/********************* Стили под iPad BEGIN *********************/
input[type="submit"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
/********************* Стили под iPad END *********************/
input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
  /* Цвет фона */
  -webkit-text-fill-color: #333 !important;
  /* цвет текста */
  color: #333 !important;
  /* цвет текста */
}
@font-face {
  font-family: 'OpenSans';
  src: local('Open Sans'), local('OpenSans'), url('../fonts/OpenSans-Regular/opensans.woff2') format('woff2'), url('../fonts/OpenSans-Regular/opensans.woff') format('woff'), url('../fonts/OpenSans-Regular/opensans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansSemibold';
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('../fonts/OpenSans-Semibold/opensanssemibold.woff2') format('woff2'), url('../fonts/OpenSans-Semibold/opensanssemibold.woff') format('woff'), url('../fonts/OpenSans-Semibold/opensanssemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../fonts/OpenSans-Italic/opensansitalic.woff2') format('woff2'), url('../fonts/OpenSans-Italic/opensansitalic.woff') format('woff'), url('../fonts/OpenSans-Italic/opensansitalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSansLight';
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/OpenSans-Light/opensanslight.woff2') format('woff2'), url('../fonts/OpenSans-Light/opensanslight.woff') format('woff'), url('../fonts/OpenSans-Light/opensanslight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Scada';
  src: local('Scada'), url('../fonts/Scada/scada.woff2') format('woff2'), url('../fonts/Scada/scada.woff') format('woff'), url('../fonts/Scada/scada.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
.col-12-1 {
  width: 8.33333333%;
}
.col-12-2 {
  width: 16.66666667%;
}
.col-12-3 {
  width: 25%;
}
.col-12-4 {
  width: 33.33333333%;
}
.col-12-5 {
  width: 41.66666667%;
}
.col-12-6 {
  width: 50%;
}
.col-12-7 {
  width: 58.33333333%;
}
.col-12-8 {
  width: 66.66666667%;
}
.col-12-9 {
  width: 75%;
}
.col-12-10 {
  width: 83.33333333%;
}
.col-12-11 {
  width: 91.66666667%;
}
.col-12-12 {
  width: 100%;
}
/*.bg-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  min-width: 1500px;
  position: relative;
}
.content-top {
  min-height: 100%;
  /* Задаем минимальную высоту 100% */
  _height: 100%;
  /* Задаем высоту 100% в ИЕ6 с помощью хака */
}
.content-top-inner {
  padding-bottom: 400px;
  /* Задаём нижний отступ, равный высоте футера или больше */
}
body {
  background-color: #f2f2f2;
  color: #333333;
  font: normal 15px/normal OpenSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.page-content-inner {
  margin: 0 auto;
  width: 1440px;
}
.page-content-inner--w1300 {
  width: 1300px;
}
.page-content-inner--w1360 {
  width: 1360px;
}
.page-content {
  width: 100%;
  background: #f2f2f2;
}
a {
  color: #333333;
  text-decoration: none;
}
a:hover {
  color: #0d0d0d;
  text-decoration: none;
}
.after-parent:before,
.after-parent:after {
  content: " ";
  display: table;
}
.after-parent:after {
  clear: both;
}
.right {
  float: right;
}
.left {
  float: left;
}
.block {
  display: block;
}
.none {
  display: none;
}
.vert-middle {
  width: 100%;
  height: 100%;
  font-size: 0;
}
.vert-middle:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 0;
  height: 100%;
}
.vert-middle--h-55 {
  height: 55px;
}
.vert-middle__inner {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}
.row {
  margin: 0px 0px;
}
.row__inner {
  font-size: 0;
  display: table;
  width: 100%;
}
.row .col-12-1,
.row .col-12-2,
.row .col-12-3,
.row .col-12-4,
.row .col-12-5,
.row .col-12-6,
.row .col-12-7,
.row .col-12-8,
.row .col-12-9,
.row .col-12-10,
.row .col-12-11,
.row .col-12-12 {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  letter-spacing: normal;
  padding: 0px 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.row--padd30 {
  margin: 0px -15px;
}
.row--padd30 .col-12-1,
.row--padd30 .col-12-2,
.row--padd30 .col-12-3,
.row--padd30 .col-12-4,
.row--padd30 .col-12-5,
.row--padd30 .col-12-6,
.row--padd30 .col-12-7,
.row--padd30 .col-12-8,
.row--padd30 .col-12-9,
.row--padd30 .col-12-10,
.row--padd30 .col-12-11,
.row--padd30 .col-12-12 {
  padding: 0px 15px;
}
.row--padd10 {
  margin: 0px -5px;
}
.row--padd10 .col-12-1,
.row--padd10 .col-12-2,
.row--padd10 .col-12-3,
.row--padd10 .col-12-4,
.row--padd10 .col-12-5,
.row--padd10 .col-12-6,
.row--padd10 .col-12-7,
.row--padd10 .col-12-8,
.row--padd10 .col-12-9,
.row--padd10 .col-12-10,
.row--padd10 .col-12-11,
.row--padd10 .col-12-12 {
  padding: 0px 5px;
}
.row--padd40 {
  margin: 0px -20px;
}
.row--padd40 .col-12-1,
.row--padd40 .col-12-2,
.row--padd40 .col-12-3,
.row--padd40 .col-12-4,
.row--padd40 .col-12-5,
.row--padd40 .col-12-6,
.row--padd40 .col-12-7,
.row--padd40 .col-12-8,
.row--padd40 .col-12-9,
.row--padd40 .col-12-10,
.row--padd40 .col-12-11,
.row--padd40 .col-12-12 {
  padding: 0px 20px;
}
.marg-t-10 {
  margin-top: 10px;
}
.marg-b-10 {
  margin-bottom: 10px;
}
.marg-t-15 {
  margin-top: 15px;
}
.marg-b-15 {
  margin-bottom: 15px;
}
.marg-t-20 {
  margin-top: 20px;
}
.marg-b-20 {
  margin-bottom: 20px;
}
.marg-t-30 {
  margin-top: 30px;
}
.marg-b-30 {
  margin-bottom: 30px;
}
.marg-t-40 {
  margin-top: 40px;
}
.marg-b-40 {
  margin-bottom: 40px;
}
.padd-t-50 {
  padding-top: 50px;
}
.padd-b-50 {
  padding-bottom: 50px;
}
.marg-t-50 {
  margin-top: 50px;
}
.marg-b-50 {
  margin-bottom: 50px;
}
.marg-t-70 {
  margin-top: 70px;
}
.marg-b-70 {
  margin-bottom: 70px;
}
.pos-center {
  text-align: center;
}
.pos-right {
  text-align: right;
}
.scrollTop-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2000;
  display: block;
  width: 65px;
  height: 65px;
  line-height: 65px;
  text-decoration: none;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../svg/faceless.svg");
  -webkit-background-size: 16px;
  -moz-background-size: 16px;
  -o-background-size: 16px;
  background-size: 16px;
}
.scrollTop-btn:hover {
  background-color: #e6e6e6;
}
@media only screen and (max-width: 1439px) {
  .page-content-inner {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .page-content-inner--w1300 {
    padding: 0 4%;
  }
  .page-content-inner--w1360 {
    padding: 0 4%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1439px) {
  html,
  body {
    min-width: 768px;
  }
}
@media only screen and (max-width: 1023px) {
  .col-adaptive-row {
    display: block;
  }
  .col-adaptive-1024 {
    width: 100%;
  }
  /*.top-adaptive {
    margin-top: 20px;
  }
  
  .top-adaptive-40 {
    margin-top: 40px;
  }

  .center-adaptive {
    text-align: center;
  }

  .visible-adaptive {
    display: none;
  }*/
}
@media only screen and (max-width: 767px) {
  html,
  body {
    min-width: 320px;
  }
  .col-adaptive-768 {
    width: 100%;
  }
  /*
	.top-adaptive-768 {
		margin-top: 20px;
	}
	
	.visible-adaptive-768 {
		display: none;
	}  

  .row {
    margin: 0px -5px;

    & .col-12-1, & .col-12-2, & .col-12-3, & .col-12-4, & .col-12-5, & .col-12-6, & .col-12-7, & .col-12-8, & .col-12-9, & .col-12-10, & .col-12-11, & .col-12-12 {
      padding: 0px 5px;
    }

    & .col-10-1, & .col-10-2, & .col-10-3, & .col-10-4, & .col-10-5, & .col-10-6, & .col-10-7, & .col-10-8, & .col-10-9, & .col-10-10 {
      padding: 0px 5px;
    }
  }*/
}
.page-header {
  background: #fff;
}
.page-header__inner:before,
.page-header__inner:after {
  content: " ";
  display: table;
}
.page-header__inner:after {
  clear: both;
}
.page-header__logo {
  width: 153px;
  height: 72px;
  float: left;
  margin: 9px 0px;
  cursor: pointer;
  background: url("../img/logo.png") no-repeat 0px 0px;
}
.page-header__menu {
  float: left;
  margin-left: 35px;
}
.page-header__phone {
  float: right;
  padding: 35px 0px;
}
.page-header__phone:before,
.page-header__phone:after {
  content: " ";
  display: table;
}
.page-header__phone:after {
  clear: both;
}
.page-header__phone-icon {
  float: left;
  width: 12px;
  height: 20px;
  margin-right: 15px;
  line-height: 20px;
}
.page-header__phone-icon object {
  width: 12px;
  height: 20px;
}
.page-header__phone-num {
  float: left;
  color: #757c80;
  font-size: 14px;
  line-height: 20px;
  margin-right: 20px;
}
.page-header__phone-num span {
  color: #333333;
  text-transform: uppercase;
  font-family: OpenSansSemibold;
}
.page-header__phone-num:last-child {
  margin-right: 0px;
}
.page-footer {
  background: #caf2c2;
  margin-top: -400px;
  height: 400px;
}
.page-footer__top {
  height: 335px;
}
.page-footer__title {
  font-family: OpenSansSemibold;
  font-size: 20px;
  padding-top: 44px;
  margin-bottom: 30px;
}
.page-footer__contact {
  margin-bottom: 20px;
}
.page-footer__contact:before,
.page-footer__contact:after {
  content: " ";
  display: table;
}
.page-footer__contact:after {
  clear: both;
}
.page-footer__contact-title {
  float: left;
  width: 70px;
  color: #53a642;
  line-height: 22px;
}
.page-footer__contact-text {
  float: left;
  line-height: 22px;
}
.page-footer--contact-link {
  border-bottom: solid 1px #53a642;
}
.page-footer--contact-link:hover {
  color: #53a642;
}
.page-footer__socials:before,
.page-footer__socials:after {
  content: " ";
  display: table;
}
.page-footer__socials:after {
  clear: both;
}
.page-footer__social-item {
  display: block;
  width: 55px;
  height: 55px;
  background: #91d982;
  float: left;
  margin-right: 15px;
  text-align: center;
}
.page-footer__social-item:hover {
  background: #53a642;
}
.page-footer__social-item object {
  height: 21px;
  padding: 17px 0px;
}
.page-footer__dev-wrap {
  text-align: right;
  padding-top: 207px;
}
.page-footer__dev {
  line-height: 22px;
}
.page-footer__dev span {
  color: #53a642;
}
.page-footer__dev a:hover {
  text-decoration: underline;
}
.page-footer__copyright {
  background: #91d982;
  height: 65px;
}
.page-footer__copyright-inner {
  line-height: 15px;
  padding: 25px 0px;
}
.main-nav:before,
.main-nav:after {
  content: " ";
  display: table;
}
.main-nav:after {
  clear: both;
}
.main-nav__item {
  display: block;
  float: left;
  margin: 0px 15px;
}
.main-nav__item a {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 90px;
  color: #333333;
}
.main-nav__item:hover a,
.main-nav--item-current a {
  color: #91d982;
}
.left-side {
  padding-bottom: 50px;
}
.left-side__header {
  padding: 20px 15px;
  padding-left: 65px;
  font-family: OpenSansSemibold;
  font-size: 20px;
  line-height: 25px;
  color: #fff;
  position: relative;
}
.left-side__header-icon {
  position: absolute;
  width: 24px;
  height: 65px;
  top: 0px;
  left: 15px;
}
.left-side__header-icon object {
  width: 24px;
  height: 65px;
}
.left-side--block-green .left-side__header {
  background: #91d982;
}
.left-side--block-yellow .left-side__header {
  background: #ffcc66;
}
.left-side__body {
  padding: 25px 15px;
}
.left-side--block-green .left-side__body {
  background: #caf2c2;
}
.left-side--block-yellow .left-side__body {
  background: #fff;
}
.left-side__body-text {
  line-height: 22px;
  padding: 0px 25px;
}
.left-side__body-refresh {
  width: 16px;
  height: 20px;
  margin-top: 30px;
  float: right;
}
.left-side__body-refresh object {
  width: 16px;
  height: 20px;
}
.left-side-nav__list {
  background: #dce1e6;
  padding: 30px 40px;
}
.left-side-nav__item {
  font-size: 17px;
  line-height: 20px;
}
.left-side-nav__item a {
  display: block;
  padding: 8px 0px;
  color: #333333;
}
.left-side-nav__item a:hover {
  color: #53a642;
}
.left-side-nav--item-active a {
  font-family: OpenSansSemibold;
}
.left-side-nav--item-active a:hover {
  color: #333333;
}
.right-side {
  padding: 50px;
  padding-right: 40px;
}
.right-side h2 {
  font-family: Scada;
  font-size: 38px;
  line-height: 42px;
  margin-bottom: 20px;
}
.right-side h3 {
  font-family: Scada;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 15px;
}
.right-side p {
  font-size: 15px;
  line-height: 22px;
  margin: 20px 0px;
}
.right-side p a {
  position: relative;
}
.right-side p a:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0px;
  height: 1px;
  width: 100%;
  background: #ff7866;
}
.right-side p a:hover {
  color: #ff7866;
}
.right-side ul {
  font-size: 15px;
  line-height: 22px;
  margin: 20px 0px;
  padding-left: 40px;
}
.right-side ul li {
  margin: 10px 0px;
  position: relative;
  padding-left: 20px;
}
.right-side ul li:after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 0px;
  width: 4px;
  height: 4px;
  background: #333333;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}
.right-side ol {
  font-size: 15px;
  line-height: 22px;
  margin: 20px 0px;
  padding-left: 50px;
  list-style-type: decimal;
  list-style-position: outside;
}
.right-side ol li {
  margin: 10px 0px;
  padding-left: 10px;
}
.right-side__red {
  color: #fd7866;
}
.right-side__top5-wrap {
  position: relative;
}
.right-side__top5 {
  display: block;
  position: relative;
  z-index: 1;
}
.right-side__top5 img {
  width: 100%;
}
.right-side__top5-pos {
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0px;
}
.right-side__share:before,
.right-side__share:after {
  content: " ";
  display: table;
}
.right-side__share:after {
  clear: both;
}
.right-side__share-title {
  float: left;
  margin-right: 15px;
  font-size: 15px;
  line-height: 31px;
}
.right-side__share-body {
  float: left;
}
.right-side__cards {
  margin: 0px -10px;
}
.right-side__card {
  display: inline-block;
  vertical-align: top;
  margin: 0px 10px;
}
@media only screen and (max-width: 1023px) {
  .right-side {
    padding: 0px 4%;
    padding-bottom: 50px;
  }
}
.slider-review {
  padding: 10px 50px;
  padding-bottom: 80px;
}
.slider-review .bxslider_reviews {
  height: 225px;
  overflow: hidden;
}
.slider-review__item {
  height: 225px;
  overflow: hidden;
}
.slider-review__item-info {
  line-height: 22px;
  text-align: center;
}
.slider-review__item-pic {
  background: #fff;
  width: 160px;
  height: 160px;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  -khtml-border-radius: 80px;
  border-radius: 80px;
  display: inline-block;
  font-size: 0;
  margin-bottom: 10px;
  overflow: hidden;
}
.slider-review__item-pic img {
  width: 160px;
}
.slider-review__item-pic object {
  width: 92px;
  height: 160px;
}
.slider-review__item-name {
  white-space: nowrap;
}
.slider-review__item-date {
  white-space: nowrap;
}
.slider-review__item-text {
  font-style: italic;
  line-height: 22px;
}
.goa-more {
  display: block;
  text-align: center;
}
.goa-more__img {
  height: 161px;
  max-height: 161px;
  max-width: 100%;
}
.goa-more__svg {
  height: 161px;
  width: 100%;
  max-width: 300px;
}
.goa-more__svg-path {
  fill: #6ecddb;
}
.goa-more__svg-stroke {
  fill: none;
  stroke: #6ecddb;
}
.goa-more__text {
  font-size: 24px;
  line-height: 29px;
  font-family: Scada;
  margin-top: 20px;
}
.goa-more:hover .goa-more__svg-path {
  fill: #ffcc66;
}
.goa-more:hover .goa-more__svg-stroke {
  stroke: #ffcc66;
}
.goa-more:hover .goa-more__text {
  color: #ffcc66;
}
.see {
  background: #ffcc66;
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
}
.see__icon {
  width: 43px;
  height: 33px;
  margin: 0 auto;
}
.see__icon object {
  width: 43px;
  height: 33px;
}
.see__text {
  font-size: 38px;
  font-family: Scada;
  margin-top: 20px;
  margin-bottom: 35px;
}
.btn {
  display: inline-block;
  color: #fff;
  line-height: 53px;
  height: 55px;
  font-family: OpenSans;
  font-size: 15px;
  text-transform: uppercase;
  border: solid 1px #fd7866;
  padding: 0px 40px;
  background: #fd7866;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  vertical-align: top;
}
.btn:hover {
  background: #fc381d;
  color: #fff;
  border: solid 1px #fd624d;
  text-decoration: none;
}
.btn--blue {
  background: #6ecddb;
  border: solid 1px #6ecddb;
}
.btn--blue:hover {
  background: #5ac6d6;
  border: solid 1px #5ac6d6;
}
.btn--grey {
  background: #dce1e6;
  border: solid 1px #dce1e6;
  color: #333333;
}
.btn--grey:hover {
  background: #cdd4db;
  border: solid 1px #cdd4db;
  color: #333333;
}
.btn--fill {
  width: 100%;
  padding: 0px;
}
.btn--lowercase {
  text-transform: initial;
  font-size: 18px;
}
.btn--big {
  line-height: 94px;
  height: 96px;
  font-family: Scada;
  font-size: 38px;
  padding: 0px 70px;
  background: #fc381d;
  color: #fff;
}
.btn--big:hover {
  background: #fc2204;
  border: solid 1px #fc2204;
}
.main-img {
  background-color: #f2f2f2;
  position: relative;
}
.main-img__img {
  width: 100%;
  display: block;
}
.main-img__header {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.main-img__header-text {
  font-family: Scada;
  font-size: 54px;
  line-height: 60px;
  color: #fff;
  text-align: center;
  padding: 0px 40px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.breadcrumbs {
  background: #fff;
  padding: 24px 0px;
}
.breadcrumbs__item {
  color: #757c80;
  display: inline;
  font-size: 15px;
  line-height: 22px;
}
a.breadcrumbs__item:hover {
  color: #333333;
}
.breadcrumbs--item-main {
  color: #fc381d;
}
a.breadcrumbs--item-main:hover {
  color: #e31e03;
}
.breadcrumbs--item-separate {
  padding: 0px 15px;
}
.news-block {
  display: block;
  padding: 30px;
  background: #fff;
}
.news-block__date {
  color: #757c80;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}
.news-block__title {
  font-family: Scada;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 15px;
}
.news-block__text {
  color: #757c80;
  font-size: 15px;
  line-height: 22px;
}
.news-block__img {
  text-align: right;
  width: 100%;
  overflow: hidden;
}
.news-block__img img {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: 180px;
}
.news-block:hover .news-block__title {
  color: #fd7866;
}
.exs-block {
  display: block;
  padding: 30px;
  background: #fff;
}
.exs-block__title {
  font-family: Scada;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 15px;
}
.exs-block__text {
  color: #757c80;
  font-size: 15px;
  line-height: 22px;
}
.exs-block__img {
  text-align: left;
  width: 100%;
  overflow: hidden;
}
.exs-block__img img {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: 300px;
}
.exs-block:hover .exs-block__title {
  color: #fd7866;
}
.exs-block__categories {
  margin: -5px;
  margin-top: 10px;
}
.exs-block__categories-item {
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  font-size: 13px;
  line-height: 31px;
  border: solid 2px #dce1e6;
  color: #757c80;
  padding: 0px 15px;
}
.exs-block__categories-item:hover {
  border: solid 2px #757c80;
}
.filter__categories {
  margin: -7px;
}
.filter__category-item {
  display: inline-block;
  vertical-align: top;
  background: #dce1e6;
  margin: 7px;
  padding: 17px 30px;
  font-family: OpenSansLight;
  font-size: 14px;
  line-height: 20px;
  color: #757c80;
  cursor: pointer;
  position: relative;
}
.filter__category-item:hover {
  background: #fff;
  color: #757c80;
}
.filter--category-active {
  background: #fd7866;
  color: #fff;
}
.filter--category-active:hover {
  background: #fd624d;
  color: #fff;
}
.filter__category-close {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 4px;
  right: 4px;
}
.filter__category-close object {
  width: 13px;
  height: 13px;
}
.filter__clear {
  display: block;
  cursor: pointer;
  color: #757c80;
}
.filter__clear:before,
.filter__clear:after {
  content: " ";
  display: table;
}
.filter__clear:after {
  clear: both;
}
.filter__clear:hover {
  color: #333333;
}
.filter__clear-icon {
  width: 18px;
  height: 18px;
  float: left;
}
.filter__clear-icon object {
  width: 18px;
  height: 18px;
}
.filter__clear-text {
  float: left;
  margin-left: 10px;
  font-size: 14px;
  line-height: 18px;
}
.filter__result {
  font-family: OpenSansSemibold;
  color: #757c80;
  font-size: 15px;
  line-height: 22px;
}
.filter__result span {
  color: #333333;
}
.filter__option-title {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  font-size: 15px;
  line-height: 22px;
}
.filter__option-body {
  display: inline-block;
  vertical-align: top;
}
.filter__option-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
}
.filter__option-name {
  padding-right: 20px;
  color: #757c80;
  font-size: 15px;
  line-height: 22px;
}
.filter__option-close {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 11px;
  height: 22px;
}
.filter__option-close object {
  width: 11px;
  height: 11px;
}
.services-block {
  display: block;
  padding: 25px;
  background: #fff;
}
.services-block__img {
  width: 100%;
  overflow: hidden;
}
.services-block__img img {
  width: 100%;
}
.services-block__title {
  font-family: Scada;
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
  white-space: nowrap;
}
.services-block:hover .services-block__title {
  color: #fd7866;
}
.gallery-block {
  display: block;
  padding: 20px;
  background: #fff;
}
.gallery-block__img {
  width: 100%;
  overflow: hidden;
}
.gallery-block__img img {
  width: 100%;
}
.gallery-block__title {
  font-family: OpenSansSemibold;
  font-size: 17px;
  line-height: 25px;
  margin-top: 15px;
  height: 75px;
  overflow: hidden;
}
.gallery-block:hover .gallery-block__title {
  color: #fd7866;
}
.gallery-open-block {
  display: block;
}
.gallery-open-block__img {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.gallery-open-block__img img {
  width: 100%;
}
.gallery-open-block__title {
  font-size: 15px;
  line-height: 20px;
  margin-top: 15px;
  height: 60px;
  overflow: hidden;
}
.gallery-open-block__open {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url("../img/00000060.png") repeat 0px 0px;
  text-align: center;
  display: none;
}
.gallery-open-block__open object {
  width: 24px;
  height: 24px;
}
.gallery-open-block:hover .gallery-open-block__title {
  color: #fd7866;
}
.gallery-open-block:hover .gallery-open-block__open {
  display: block;
}
.gallery {
  width: 100%;
  height: auto;
  display: none;
}
.gallery__wrap {
  width: 100%;
  height: auto;
}
.gallery__slide {
  width: 100%;
  height: auto;
}
.gallery__slide-img {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.gallery__slide-img img {
  width: 100%;
}
.gallery__slide-text {
  color: #fff;
  text-align: center;
  line-height: 23px;
  overflow: hidden;
  height: 23px;
  margin: 20px 0px;
}
.gallery__pager {
  text-align: center;
}
.gallery__pager-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 70px;
  height: 70px;
  margin: 2px;
  overflow: hidden;
}
.gallery__pager-item img {
  height: 100%;
}
.gallery__pager-item.active,
.gallery__pager-item:hover {
  width: 66px;
  height: 66px;
  border: solid 2px #fd7866;
}
.tabs__list {
  display: table;
  width: 100%;
}
.tabs__item {
  display: table-cell;
  width: 20%;
}
.tabs__item:nth-child(2) {
  width: 40%;
}
.right-side ul.tabs__list {
  margin: 0px;
  padding: 0px;
}
.right-side ul li.tabs__item {
  margin: 0px;
  padding: 0px;
  position: inherit;
}
.right-side ul li.tabs__item:after {
  display: none;
}
.tabs__item-link {
  display: block;
  line-height: 55px;
  background: #fff;
  text-align: center;
}
.tabs__item-link:hover {
  background: #dce1e6;
}
.tabs--item-active .tabs__item-link {
  background: #fd7866;
  color: #fff;
}
.tabs--item-active .tabs__item-link:hover {
  background: #fd7866;
}
.slider-exs {
  padding-bottom: 90px;
}
.slider-exs__item {
  width: 100%;
}
.slider-exs__item img {
  width: 100%;
}
.slider-exs .bxslider_exs_1,
.slider-exs .bxslider_exs_2 {
  background: #dce1e6;
  overflow: hidden;
  width: 100%;
}
.slider-exs__open {
  position: relative;
  z-index: 1;
  margin-top: 30px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}
.slider-exs__open:before,
.slider-exs__open:after {
  content: " ";
  display: table;
}
.slider-exs__open:after {
  clear: both;
}
.slider-exs__open-icon {
  float: left;
  width: 16px;
  height: 16px;
}
.slider-exs__open-icon object {
  width: 16px;
  height: 16px;
}
.slider-exs__open-text {
  float: left;
  font-size: 14px;
  line-height: 16px;
  color: #757c80;
  margin-left: 10px;
}
.slider-exs__open:hover .slider-exs__open-text {
  color: #333333;
}
.program-table__header {
  background: #caf2c2;
  font-family: Scada;
  font-size: 24px;
  line-height: 30px;
  padding: 17px 40px;
  text-transform: uppercase;
}
.program-table__line {
  background: #fff;
  font-size: 16px;
  line-height: 22px;
  padding: 17px 40px;
  border-bottom: solid 1px #f2f2f2;
  display: table;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.program-table__time {
  display: table-cell;
  width: 20%;
}
.program-table__text {
  display: table-cell;
  width: 80%;
  padding-left: 30px;
}
.price-table__line {
  background: #fff;
  font-size: 15px;
  line-height: 22px;
  display: table;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 70px;
}
.price-table__line:nth-child(2n) {
  background: #fd7866;
}
.price-table--line-header {
  background: #ffcc66;
  height: 90px;
  font-family: Scada;
}
.price-table__cell {
  display: table-cell;
  width: 50%;
  text-align: center;
  vertical-align: middle;
}
.price-table__cell:first-child {
  border-right: solid 1px #f2f2f2;
}
.price-table__cell:last-child {
  border-left: solid 1px #f2f2f2;
}
.price-table--big {
  font-size: 24px;
  line-height: 32px;
}
.price-table--middle {
  font-size: 16px;
  line-height: 22px;
}
.price-table--white {
  color: #fff;
}
.review {
  background: #fff;
  padding: 40px;
}
.review--reply {
  background: #dce1e6;
  margin-left: 40px;
}
.review__title:before,
.review__title:after {
  content: " ";
  display: table;
}
.review__title:after {
  clear: both;
}
.review__name {
  float: left;
  width: 80%;
  font-family: OpenSansSemibold;
  font-size: 17px;
  line-height: 22px;
  margin-bottom: 40px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.review--reply .review__name {
  padding-left: 65px;
  position: relative;
}
.review--reply .review__name:after {
  content: "";
  display: block;
  position: absolute;
  top: -7px;
  left: 0px;
  width: 38px;
  height: 36px;
  background: url("../img/review_face.png") no-repeat 0px 0px;
}
.review__date {
  float: right;
  width: 20%;
  text-align: right;
  font-size: 14px;
  line-height: 23px;
  color: #757c80;
}
.review__text {
  font-size: 15px;
  line-height: 22px;
}
.review__link {
  position: relative;
  color: #757c80;
  margin-top: 10px;
  display: inline-block;
  vertical-align: top;
}
.review__link:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0px;
  height: 1px;
  width: 100%;
  background: #757c80;
}
.review__link:hover {
  color: #fd7866;
}
.review__link:hover:after {
  background: #fd7866;
}
.review__gallery-img {
  width: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.review__gallery-img img {
  width: 100%;
}
.review__gallery-open {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url("../img/00000060.png") repeat 0px 0px;
  text-align: center;
  display: none;
}
.review__gallery-open object {
  width: 24px;
  height: 24px;
}
.review__gallery-img:hover .review__gallery-open {
  display: block;
}
.review__exs {
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 24px;
}
.review__exs-title {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
.review__exs-body {
  display: inline-block;
  vertical-align: top;
}
.review__exs-name {
  display: inline;
  color: #fd7866;
  margin-right: 20px;
}
.review__exs-link {
  display: inline-block;
  vertical-align: top;
  position: relative;
  color: #757c80;
  font-size: 13px;
}
.review__exs-link:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0px;
  height: 1px;
  width: 100%;
  background: #757c80;
}
.review__exs-link:hover {
  color: #333333;
}
.review__exs-link:hover:after {
  background: #333333;
}
.form--yellow {
  background: #ffcc66;
  padding: 30px;
}
.form--grey {
  background: #dce1e6;
  padding: 30px;
}
.form__header {
  font-family: Scada;
  font-size: 38px;
  line-height: 42px;
  margin-bottom: 40px;
  text-align: center;
}
.form__wrap:before,
.form__wrap:after {
  content: " ";
  display: table;
}
.form__wrap:after {
  clear: both;
}
.form--w670 .form__wrap {
  max-width: 670px;
}
.form--center .form__wrap {
  margin: 0 auto;
}
.form__title {
  float: left;
  font-size: 15px;
  line-height: 22px;
  padding: 9px 0px;
  width: 40%;
  padding-right: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.form__field {
  float: left;
  width: 60%;
  max-width: 400px;
  position: relative;
}
.form--field-date {
  max-width: 200px;
}
.form__input {
  font-size: 15px;
  line-height: 15px;
  width: 100%;
  border: none;
  background: #fff;
  display: block;
  height: 40px;
  padding: 0 20px;
  font-family: OpenSans;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #757c80;
}
.form .form__textarea {
  font-size: 15px;
  line-height: 22px;
  width: 100%;
  border: none;
  background: #fff;
  display: block;
  height: 120px;
  padding: 20px;
  font-family: OpenSans;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  resize: none;
  color: #757c80;
}
.form__icon {
  position: absolute;
  top: 10px;
  right: 12px;
  width: 18px;
  height: 20px;
}
.form__icon object {
  width: 18px;
  height: 20px;
}
.form__counter:before,
.form__counter:after {
  content: " ";
  display: table;
}
.form__counter:after {
  clear: both;
}
.form__counter-btn {
  float: left;
  width: 40px;
  height: 40px;
  background: #fff;
  padding: 12px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
}
.form__counter-btn object {
  width: 16px;
  height: 16px;
}
.form--input-counter {
  float: left;
  width: 40px;
  padding: 0px;
  text-align: center;
  margin: 0px 1px;
}
.form__file {
  background: #bcc6cc;
  padding: 15px;
}
.form__file-icon {
  width: 35px;
  height: 27px;
  margin: 0 auto;
  margin-bottom: 15px;
}
.form__file-icon object {
  width: 35px;
  height: 27px;
}
.form__file-text {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
.modal-shadow {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  margin: auto;
  width: 100%;
  height: 100%;
  background: url("../img/bg_win.png") repeat 0 0;
  z-index: 800;
  opacity: 0;
  cursor: pointer;
}
.modal-shadow.js-active {
  display: block;
}
.closemodal {
  position: absolute;
  top: 40px;
  right: 40px;
  text-decoration: none;
  background: url("../img/btn_close.png") 0px 0px no-repeat;
  width: 70px;
  height: 70px;
  display: block;
}
.closemodal:hover {
  background-position: 0px -70px;
}
.modal-window {
  position: fixed;
  top: 50%;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 100%;
  padding: 40px;
  padding-top: 130px;
  min-height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  z-index: 999;
  background: none;
  opacity: 0;
}
.modal-window.js-window-absolut {
  position: absolute;
}
.modal-window.js-window {
  display: none;
}
.modal-window.js-active {
  display: block;
}
.modal-window__body {
  max-width: 900px;
  margin: 0 auto;
}
.slider-main {
  position: relative;
}
.slider-main__slider {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40%;
  height: 100%;
  background: #ffcc66;
  overflow: hidden;
}
.slider-main__img {
  width: 60%;
  padding-left: 40%;
}
.slider-main__img img {
  width: 100%;
}
.slider-main__body {
  padding: 0px 40px;
  height: 100%;
  padding-bottom: 70px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.slider-main__header {
  font-family: Scada;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 25px;
}
.slider-main__text {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 40px;
}
.slider-main .bx-wrapper .bx-viewport,
.slider-main .bx-wrapper,
.slider-main .bxslider_main {
  height: 100%;
}
.instagram {
  background: #fab95f;
  padding: 70px 0px;
  text-align: center;
}
.instagram__header {
  display: inline-block;
  padding-bottom: 70px;
  line-height: 32px;
  font-size: 22px;
  font-family: Scada;
  color: #fff;
  text-transform: uppercase;
  padding-left: 54px;
  background: url("../svg/instagram.svg") no-repeat 0px 0px;
  -webkit-background-size: 32px;
  -moz-background-size: 32px;
  -o-background-size: 32px;
  background-size: 32px;
}
.instagram__body {
  text-align: initial;
}
