.promo__item {
	padding: 30px;
	background-color: white;
	margin-bottom: 40px;
}
.promo__item:last-child {
	margin-bottom: 0;
}
.promo__link {
	text-decoration: none;
	color: inherit;
}
.promo__title {
	font-family: Scada;
	font-size: 24px;
	line-height: 20px;
	margin-bottom: 15px;
	color: #333333;
	margin-top: 0;
}
.promo__item:hover .promo__title {
	color: #fd7866;
}

.promo__photo {
	width: 33%;
	margin-right: 3%;
	float: left;

}
.clearfix::after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

.promo__description {
	overflow: hidden;
}

@media (max-width: 768px) {
	.promo__item {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		align-items: center;
	}
	.promo__photo {
		width: 100%;
		margin-right: 0;
		order: 1;
	}
	.promo__description {
		order: 2;
	}
}

/*Detailed page*/
.promo-detailed {
	padding: 30px;
	background-color: white;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.promo-detailed__text {
	width: 60%;
	margin-right: 5%;
}
.promo-detailed__title {
	font-family: Scada;
	font-size: 24px;
	line-height: 20px;
	margin-bottom: 15px;
	color: #333333;
	margin-top: 0;
}
.promo-detailed__back {
	position: relative;
	margin-bottom: 20px;
	display: inline-block;
}
.promo-detailed__back:hover {
	color: #ff7866;
}
.promo-detailed__back::after {
	background-color: #ff7866;
	bottom: -1px;
	content: "";
	display: block;
	height: 1px;
	left: 0;
	position: absolute;
	width: 100%;

}
.promo-detailed__info .promo-detailed__dates {
	margin-top: 0;
	margin-bottom: 10px;
}
.promo-detailed__date {
	font-family: 'OpenSansSemibold';
}

@media (max-width: 768px) {
	.promo-detailed {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.promo-detailed__text {
		width: 100%;
	}
}

/*Detailed news page*/

.news-detailed {
	padding: 30px;
	background-color: white;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.news-detailed__text {
	width: 60%;
	margin-right: 5%;
}
.news-detailed__title {
	font-family: Scada;
	font-size: 24px;
	line-height: 20px;
	margin-bottom: 15px;
	color: #333333;
	margin-top: 0;
}
.news-detailed__info {
	width: 35%;
}
.news-detailed__pic {
	width: 100%;
	margin-bottom: 20px;
}
.news-detailed__back {
	position: relative;
	text-decoration: none;
	color: inherit;
	margin-bottom: 20px;
	display: inline-block;
}
.news-detailed__back:hover {
	color: #ff7866;
}
.news-detailed__back::after {
	background-color: #ff7866;
	bottom: -1px;
	content: "";
	display: block;
	height: 1px;
	left: 0;
	position: absolute;
	width: 100%;

}
.news-detailed__dates {
	margin-top: 0;
	margin-bottom: 10px;
}
.news-detailed__date {
	font-family: 'OpenSansSemibold';
}

@media (max-width: 768px) {
	.news-detailed {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.news-detailed__text {
		width: 100%;
	}
	.news-detailed__info {
		width: 100%;
	}
}
