.promo__item {
	padding: 30px;
	background-color: white;
	margin-bottom: 40px;
}
.promo__item:last-child {
	margin-bottom: 0;
}
.promo__link {
	text-decoration: none;
	color: inherit;
}
.promo__title {
	font-family: Scada;
	font-size: 24px;
	line-height: 20px;
	margin-bottom: 15px;
	color: #333333;
	margin-top: 0;
}
.promo__item:hover .promo__title {
	color: #fd7866;
}

.promo__photo {
	width: 33%;
	margin-right: 3%;
	float: left;

}
.clearfix::after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

.promo__description {
	overflow: hidden;
}

@media (max-width: 768px) {
	.promo__item {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		align-items: center;
	}
	.promo__photo {
		width: 100%;
		margin-right: 0;
		order: 1;
	}
	.promo__description {
		order: 2;
	}
}